apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{.CACert}}
    server: https://127.0.0.1:6443
  name: ""
contexts: null
current-context: ""
kind: Config
preferences: {}
users: null
